@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary: #6C9CFC;
$text-color: #333333;
$background-lighter: #FFFFFF;
$background-darker: #F2F5F9;

body {
  font-family: Roboto;
  .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
}

.wrapper {
  display: flex;
  min-height: 100%;
  background-color: $background-darker;
  .side-panel {
    min-width: 260px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-lighter;
    .logo {
      display: flex;
      justify-content: center;
      margin-top: 32px;
      margin-bottom: 40px;
    }
    &-btn {
      background-color: $background-lighter;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      padding-left: 30px;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      svg {
        fill: #7D8B95;
      }
      span {
        margin-left: 18px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: $text-color;
      }
      &:hover {
        background-color: $primary;
        border-top: 6px solid #628EE6;
        border-bottom: 6px solid #628EE6;
        transition: all ease-in 0.3s;
      }
      &:hover span, &:hover svg {
        color: #FFFFFF;
        fill: #FFFFFF;
      }
    }
  }
  .section-account-settings {
    width: 100%;
    height: 100%;
    padding: 0 40px 40px 40px;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 23px 0 23px 0;
      border-bottom: 1px solid #E3E9F3;
      margin-bottom: 40px;
      &__title {
        font-weight: 500;
        font-size: 20px;
        color: $text-color;
      }
      &__set {
        display: flex;
        .account-photo {
          background-color: $primary;
          padding: 10px;
          border-radius: 50%;
          min-width: 44px;
          margin-right: 12px;
          svg {
            fill: #FFFFFF;
          }
        }
        .btn-change-language {
          background-color: $background-lighter;
          padding: 10px;
          font-weight: 500;
          font-size: 13px;
          color: #ACACAC;
          border-radius: 50%;
          min-width: 44px;
          border: 1px solid #E9ECF1;
          &:hover {
            background-color: $primary;
            color: #FFFFFF;
          }
        }
      }
    }
    &-body {
      background-color: $background-lighter;
      width: 100%;
      padding: 30px 50px 50px 50px;
      border-radius: 10px;
      &__header {
        font-weight: 500;
        font-size: 30px;
        color: $text-color;
        margin-bottom: 30px;
      }
      .profile-settings {
        &__title {
          font-weight: 500;
          font-size: 20px;
          margin: 60px 0 25px 0;
        }
        &__change-photo {
          display: flex;
          align-items: center;
          .profile-photo {
            background-color: $primary;
            padding: 35px 30px;
            border-radius: 50%;
            margin-right: 25px;
          }
        }
        .choose-file-btn {
          color: #6C9CFC;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          min-height: 57px;
          min-width: 152px;
          padding: 10px 35px;
          background-color: transparent;
          border: 2px solid rgba(108, 156, 252, 0.25);
          border-radius: 6px;
          transition: all ease-in 0.2s;
          margin-bottom: 12px;
          &:hover {
            background-color: $primary;
            color: #FFFFFF;
            border-color: $primary;
            transition: background-color ease-in 0.2s;
          }
          &-info {
            display: flex;
            align-items: center;
            span {
              font-weight: normal;
              font-size: 14px;
              color: #999999;
              margin-left: 8px;
            }
          }
        }
        .password-btn {
          min-height: 77px;
          min-width: 246px;
        }
        .change-form-input {
          min-width: 450px;
          min-height: 77px;
          background: #FFFFFF;
          border: 1px solid rgba(0, 0, 0, 0.05);
          box-sizing: border-box;
          border-radius: 6px;
          padding: 0 40px;
          &::-webkit-input-placeholder {
            color: #999999;
          }
          &:-moz-placeholder {
            color: #999999;
          }
          &::-moz-placeholder {
            color: #999999;
          }
          &:-ms-input-placeholder {
            color: #999999;
          }
        }
        .change-form-submit {
          background-color: $primary;
          color: #FFFFFF;
          min-width: 215px;
          min-height: 77px;
          cursor: pointer;
          margin-top: 55px;
          border: 1px solid transparent;
          border-radius: 6px;
          transition: all ease-in 0.2s;
          &:hover {
            background-color: $background-lighter;
            color: $primary;
            border: 1px solid $primary;
            transition: all ease-in 0.2s;
          }
        }
      }
    }
  }
}

.mobile-header {
  display: none;
  .burger-menu {
    &_button {
      position: fixed;
      top: 11px;
      right: 10px;
      z-index: 30;
      width: 65px;
      height: 61px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      &:hover .burger-menu_lines {
        filter: brightness(0.7);
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
    &__logo {
      display: none;
    }
    &_lines {
      position: absolute;
      width: 44px;
      background-color: #333333;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:before,
      &:after {
        position: absolute;
        width: 44px;
        height: 1px;
        background-color: #333333;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        content: '';
      }
      &:before {
        top: -8px
      }
      &:after {
        top: 8px
      }
    }
    &_active {
      .burger-menu_lines {
        background-color: transparent;
        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
      .burger-menu_nav {
        right: 0;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
      .burger-menu_overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    &_nav {
      padding-top: 120px;
      position: fixed;
      top: 0;
      z-index: 20;
      display: flex;
      flex-flow: column;
      height: 100%;
      background-color: $primary;
      overflow-y: auto;
      right: -150%;
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s;
      .burger-menu_link {
        display: flex;
        align-items: center;
        padding: 18px 35px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 400;
        color: #FFFFFF;
        border-bottom: 1px solid #fff;
        &:first-child {
          border-top: 1px solid #fff;
        }
        &:hover {
          filter: brightness(0.9);
        }
        svg {
          fill: #FFFFFF;
          margin-right: 20px;
        }
      }
    }
    &_overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }
  }
}